/* Typography & Text styles */

/* Import Google Web Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  font-size: 65.5%;
}

body {
  max-width: 800px;
  margin: 25px auto;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #f1f3f4;
  letter-spacing: 0.11rem;
  overflow-y: scroll;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: #5880be;
}

small {
  font-size: 75%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: 0.13rem;
}

h2 {
  font-size: 2.7rem;
  line-height: 1.5;

  border-bottom: solid transparent 3px;
  color: #d6d3d3;
  letter-spacing: 0.16rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.6;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.6;
}

p {
  margin: 0 auto 1.5em auto;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  border-left: 2px solid #afc0d2;
  margin: 1.6em 10%;
  padding: 0.75em 1em;
  font-size: 1.8rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* Layout styles */

/* Full size background image */
html,
#container,
.inner {
  background-color: transparent;
}

html {
  background: url(background.jpg) center center no-repeat fixed;
  background-size: cover;
}

#content,
footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px;
}

footer {
  font-size: 1.4rem;
}

/* superscript - the small (pdf) that appears next to resume */
sup {
  vertical-align: top;
  position: relative;
  top: -0.2em;
  font-size: 1.2rem;
}

/* Stylized horizontal line */
hr {
  border: 2px dashed #cfd2da;
  border-radius: 0.5px;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* education flex boxes */
.edu {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.edu-list {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 38px;
}

.edu img {
  display: block;
  object-fit: cover;
  border-bottom-left-radius: 10px;
}

.edu + .edu {
  text-align: left;
  flex-grow: 1;
}

.edu-name {
  color: #f58d88;
  font-size: 1.2em;
}

.edu-details {
  padding: 0;
  list-style: none;
}

.edu-details li {
  line-height: 1.5em;
}

.edu-details li:before {
  content: "\25B6";
  padding-right: 10px;
  font-size: 0.5em;
  vertical-align: middle;
}

#leftBox {
  height: 100%;
  max-width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#leftBox img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#rightBox {
  padding-top: 14px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: rgba(25, 27, 29, 0.6);
}

* {
  box-sizing: border-box;
}

/* project flex boxes */
.prj {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.prj-list {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 38px;
}

.prj img {
  display: block;
  object-fit: cover;
  border-bottom-left-radius: 10px;
}

.prj + .prj {
  text-align: left;
  flex-grow: 1;
}

.prj-name {
  font-size: 1.6em;
  color: #788896;
}

.prj-name a {
  color: #788896;
  text-decoration: none;
}

.prj a:hover img {
  filter: brightness(90%);
}

.prj-name a:hover {
  filter: brightness(200%);
}

.prj-details {
  padding: 0;
  list-style: none;
}

.prj-details a:hover {
  filter: brightness(170%);
}

.prj-details li {
  line-height: 1.5em;
}

.prj-details li:before {
  content: "\25B6";
  padding-right: 10px;
  font-size: 0.5em;
  vertical-align: middle;
}

.prj-name-link {
  padding-right: 9.5px;
  color: inherit;
  text-decoration: none;
  letter-spacing: inherit;
}

#prjLeftBox {
  height: 100%;
  max-width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#prjLeftBox img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#prjRightBox {
  padding-top: 14px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: rgba(25, 27, 29, 0.6);
}

* {
  box-sizing: border-box;
}

/* about me flex boxes */
.abt-list {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(25, 27, 29, 0.6);
  padding-left: 25px;
  padding-top: 0px;
  margin-top: 0;
}

.abt h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 13px;
  margin-bottom: 1rem;
}

.abt p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 17px;
}

.abt {
  padding: 1em;
  color: #d6d3d3;
  height: 100%;
  width: 55%;
  align-items: flex-start;
}

.abt + .abt {
  width: 45%;
}

.abt-name {
  font-size: 1.75em;
}

.abt-details {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  overflow: auto;
  padding: 10px;
}

.abt-tech {
  font-size: 1.4em;
  margin-bottom: 0em;
}

.abt-tech-details {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.07rem;
  overflow: auto;
  padding: 0 10px 10px 0px;
}

.abt ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 0;
}

.abt-tech-details li:before {
  content: "\25B6";
  padding-right: 10px;
  font-size: 0.5em;
  vertical-align: middle;
}

/* tables */
table {
  border: none;
}

th,
td {
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.abt-details thead {
  display: none;
}

.abt-details tbody {
  text-align: left;
  font-weight: normal;
}

th {
  font-weight: normal;
}

/* Menu Links */
.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}

.main-menu li a {
  margin-right: 20px;
  font-size: 2rem;
  border-bottom: solid transparent 3px;
  color: #cfd2da;
}

.main-menu li a:hover {
  color: #ffffff;
}

.main-menu li a.active {
  color: #ffffff;
  border-bottom-color: #ef6d3d;
  cursor: default;
  pointer-events: none;
}

.main-menu li a.active:hover {
  color: #ffffff;
}

/* Utility classes */
.hide {
  display: none;
}

.show {
  display: block;
}

/* Contact Me Form */
.contact-form-group {
  padding-top: 8px;
  padding-bottom: 10px;
}

textarea {
  width: 400px;
  height: 150px;
  resize: none;
}

input,
textarea {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.1em;
  border: none;
  border-radius: 6px;
  background: #f1f3f4;
  padding: 9px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #5880be;
}

button {
  margin-top: 5px;
  padding: 7px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.1em;
  border: 4px solid #333;
  border-radius: 5px;
  cursor: pointer;
  background: #333;
  color: white;
}

button:hover,
button:focus {
  outline: none;
  border: 4px solid #848b90;
  background: #848b90;
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: auto;
}

.popup-content img {
  max-width: 90%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 2.5px;
  right: 10px;
  border: none;
  background: none;
  font-size: 32px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  cursor: pointer;
  color: #333;
  line-height: 1;
}

.close-button:hover {
  color: red;
  background-color: #f3f3f3;
}

#githubIcon {
  cursor: pointer;
  filter: none;
  width: 25px;
  height: auto;
  vertical-align: top;
  margin-right: 7px;
  display: inline-block;
  position: relative;
  top: 2.5px;
}

#githubIcon:hover {
  filter: brightness(100);
  transition: filter 0.3s ease;
}

.github-icon {
  cursor: pointer;
  filter: none;
  margin-right: 2.5px;
}

.github-icon:last-child {
  margin-right: 0;
}

#diplomaImage:hover {
  filter: brightness(90%);
}

#profileIcon {
  cursor: pointer;
  filter: none;
  vertical-align: center;

  display: inline-block;
  position: relative;
}

.profile-icon {
  cursor: pointer;
  filter: none;
  margin-left: 3px;
  margin-right: 9px;
}

.profile-icon:last-child {
  margin-right: 0;
}

#profileIcon:hover {
  filter: brightness(100);
  transition: filter 0.3s ease;
}

/* Make font smaller for smaller screens */
@media (max-width: 810px) {
  .prj-name {
    font-size: 1.4em;
  }

  .prj-details li {
    font-size: 0.9em;
  }

  #prjLeftBox {
    height: 100%;
    max-width: 230px;
  }
}

@media (max-width: 768px) {
  .edu-name {
    font-size: 1.3em;
  }

  .edu-details li {
    font-size: 0.9em;
  }

  #leftBox {
    height: 100%;
    max-width: 230px;
  }

  #prjLeftBox {
    height: 0;
    max-width: 0;
    padding: 0;
    margin: 0;
  }

  #prjRightBox {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }

  .prj-name {
    word-wrap: break-word;
    font-size: 1.2em;
    padding: 0;
    width: 100%;
    hyphens: auto;
  }

  .prj-details li {
    width: 100%;
    word-wrap: break-word;
    hyphens: auto;
  }

  .contact-form-group input {
    width: 100%;
  }

  .contact-form-group textarea {
    width: 100%;
  }

  .abt-list {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .abt h1,
  .abt h2,
  .abt h3,
  .abt h4,
  .abt h5,
  .abt h6,
  .abt p,
  .abt ul {
    padding: 0 20px 0 20px;
    margin: 10px 0;
  }

  .abt-tech-details {
    padding: 0;
    margin: 0;
  }

  .abt {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
}

@media (max-width: 610px) {
  #leftBox {
    height: 100%;
    max-width: 0px;
  }
}

@media (max-width: 590px) {
  #prjLeftBox {
    height: 100%;
    max-width: 0px;
  }
}

/* Text Animation */
#greeting span:nth-child(1) {
  animation-delay: 0.1s;
}

#greeting span:nth-child(2) {
  animation-delay: 0.25s;
}

#greeting span:nth-child(3) {
  animation-delay: 0.55s;
}

#greeting span:nth-child(4) {
  animation-delay: 0.95s;
}

#greeting span:nth-child(5) {
  animation-delay: 1s;
}

#greeting span:nth-child(6) {
  animation-delay: 1.15s;
}

#greeting span:nth-child(7) {
  animation-delay: 1.2s;
}

#greeting span:nth-child(8) {
  animation-delay: 1.25s;
}

#greeting span:nth-child(9) {
  animation-delay: 1.27s;
}

@keyframes pop-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  25% {
    transform: translateY(30%);
    opacity: 1;
  }

  50% {
    transform: translateY(13%);
    opacity: 1;
  }

  75% {
    transform: translateY(0%);
    opacity: 1;
  }

  87.5% {
    transform: translateY(13%);
    opacity: 1;
  }

  98% {
    transform: translateY(55%);
    opacity: 1;
  }

  100% {
    transform: translateY(50%);
    opacity: 1;
  }
}

header {
  text-align: center;
  letter-spacing: 0.12rem;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
  background: rgba(0, 0, 0, 0.8);
}

header img.center {
  margin-bottom: -40px;
  margin-top: 15px;
}

#greeting span {
  display: inline-block;
  opacity: 0;
  transform: translateY(200%);
}

#header p {
  line-height: 1.64;
}

#header h1 {
  overflow: hidden;
  padding: 28px 0;
  height: 30px;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: 0.13rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#header h1#greeting {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 30px;
  height: 55px;
  /* height of entire anim */
  padding-top: 0px;
  padding-bottom: 10px;
}

#header h1 span {
  display: inline-block;
  transform: translateY(100%);
  animation: pop-up 0.4s ease forwards;
}

img.center {
  display: block;
  margin: 0 auto;
  width: 120px;
}
